<p>
  <b>Title:</b>
  <%=h @product.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @product.description %>
</p>

<p>
  <b>Image url:</b>
  <%=h @product.image_url %>
</p>

<!-- START_HIGHLIGHT -->
<p>
  <b>Price:</b>
  <%=h @product.price %>
</p>
<!-- END_HIGHLIGHT -->

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
