<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang='en-us' xmlns='http://www.w3.org/1999/xhtml'>
<head>
<title>Rubinius - Benchmarks</title>
<link href="http://rubini.us/screen.css" media="screen" rel="stylesheet" type="text/css" />
<!--[if IE]><script language="javascript" type="text/javascript" src="../excanvas.pack.js"></script><![endif]-->
<script language="javascript" type="text/javascript" src="javascript/jquery.js"></script>
<script language="javascript" type="text/javascript" src="javascript/jquery.flot.js"></script>
</head>

<body>
<div id="container">

  <div id="header">
    <div id="nav">
      <div id="nav-items">
        <a href="http://rubini.us/index.html">Home</a><span class="separator">
        | </span><a href="http://rubini.us/roadmap.html">Roadmap</a><span class="separator">
        | </span><strong>Benchmarks</strong><span class="separator">
        | </span><a href="http://rubini.us/community.html">Community</a><span class="separator">
        | </span><a href="http://rubini.us/contribute.html">Contribute</a><span class="separator">
        | </span><a href="http://rubini.us/documentation.html">Documentation</a><span class="separator">
        | </span><a href="http://rubini.us/download.html">Download</a><span class="separator">
      </div>
    </div>
    <div id="branding">
      <div id="site-title">Rubinius</div>

<div id="site-subtitle">Use Ruby &#8482;</div>

<div id="site-download"><a href="http://github.com/rubinius/rubinius/tree/master"><img src="http://74.217.48.135/assets/2/down_24.png" alt="download git" /> Download with git</a></div>
    </div>
  </div>

  <div id="content">
    <h1>Benchmark Graphs</h1>

    <p>The graphs below show results over time for several real-world benchmarks.
    The first set show the recorded times for the benchmarks. The second set show
    the times relative to <%= @baseline_id %>. A value of 0.5, for example, means
    that benchmark ran half as fast as the baseline. All graphs are using the
    <em><%= @field %></em> value of multiple runs. Select a rectangle on a graph
    to zoom in. Hover over a data point to see its value</p>

    <p>The benchmarks were chosen to exercise a range of Ruby features. The gem
    installs involves file system reads and writes and network reads. Generating
    RDoc for the rdoc source is more computationally intensive and involves
    string processing. Generating the rails command help involves loading much
    of the Rails framework. Running the specs is computationally intensive,
    requires many file system reads, and uses many block calls. The commands
    run by the benchmarks are listed below (see also benchmark/app/bm_*.rb).</p>

    <ol>
      <li>
        <p><strong>mspec ci spec/frozen/core</strong></p>
      </li>
      <li>
        <p><strong>gem install --local --install-dir rdoc-gem --bindir rdoc-gem --no-rdoc --no-ri --ignore-dependencies rdoc-2.4.3.gem</strong></p>
      </li>
      <li>
        <p><strong>gem install --remote --install-dir rdoc-gem --bindir rdoc-gem --no-rdoc --no-ri --ignore-dependencies rdoc --version '=2.4.3'</strong></p>
      </li>
      <li>
        <p><strong>rdoc --all --force-update --threads=1 --output rdoc-output rdoc-2.4.3/lib</strong></p>
      </li>
      <li>
        <p><strong>rails -h</strong></p>
      </li>
    </ol>

    <h2>Recorded times</h2>

    <p>These are the amount of time in seconds that the benchmarks take
    to run. Improving performance should make the benchmarks run in less
    time. A downward trend in the graphs is the goal.</p>

    <div>
    <% @graphs.values.each_with_index do |graph, index| %>
      <div id="<%= graph.id %>" style="width:<%= @width %>px;height:<%= @height %>px;"></div>
      <p style="text-align:center;font-weight:bold;width:<%= @width %>px;">
        Graph <%= index + 1 %>: <%= graph.title %></p>
    <% end %>
    </div>

    <h2>Relative to MRI baseline</h2>

    <p>These graphs compare the time it takes Rubinius to run the benchmarks
    to the time it takes <%= @baseline_id %>. Values less than 1 mean that
    Rubinius is slower than <%= @baseline_id %>. Values greater than 1 mean
    Rubinius is faster. An upward trend in the graphs is the goal.</p>

    <div>
    <% @graphs.values.each_with_index do |graph, index| %>
      <div id="<%= graph.id %>_baseline" style="width:<%= @width %>px;height:<%= @height %>px;"></div>
      <p style="text-align:center;font-weight:bold;width:<%= @width %>px;">
        Graph <%= index + 1 %>: <%= graph.title %></p>
    <% end %>
    </div>

<script id="source" language="javascript" type="text/javascript">
$(function () {

  var min_date = <%= @min_date - 43200000 %>;
  var max_date = <%= @max_date + 129600000 %>;

  var options = {
    lines:  { show: true },
    points: { show: true },
    xaxis:  { mode: "time",
              minTickSize: [1, "day"],
              min: min_date,
              max: max_date },
    selection: { mode: "xy" },
    grid: { hoverable: true },
    legend: { position: "nw" }
  };

  var previousPoint = null;

  function showTooltip(x, y, contents) {
    $('<div id="datapoint">' + contents + '</div>').css( {
        position: 'absolute',
        display: 'none',
        top: y + 5,
        left: x + 5,
        border: '1px solid #fdd',
        padding: '2px',
        'background-color': '#fee',
        opacity: 0.80
    }).appendTo("body").fadeIn(200);
  }

  <% @graphs.values.each_with_index do |graph, index| %>
    var data<%= index %> = [ <%= graph.data %> ];
    var graph<%= index %> = $("#<%= graph.id %>");

    $.plot(graph<%= index %>, data<%= index %>, options);

    graph<%= index %>.bind("plotselected", function (event, ranges) {
      $.plot(graph<%= index %>, data<%= index %>,
             $.extend(true, {}, options, {
               xaxis: { min: ranges.xaxis.from, max: ranges.xaxis.to },
               yaxis: { ticks: 4, min: ranges.yaxis.from, max: ranges.yaxis.to }
             }));
    });

    graph<%= index %>.bind("plothover", function (event, pos, item) {
      if (item) {
        if (previousPoint != item.datapoint) {
          previousPoint = item.datapoint;

          $("#datapoint").remove();
          var x = item.datapoint[0].toFixed(2),
              y = item.datapoint[1].toFixed(2);

          showTooltip(item.pageX, item.pageY,
                      item.series.label + ": " + y + " sec");
        }
      }
      else {
        $("#datapoint").remove();
        previousPoint = null;
      }
    });
  <% end %>

  var baseline_options = {
    lines:  { show: true },
    points: { show: true },
    xaxis:  { mode: "time",
              minTickSize: [1, "day"],
              min: min_date,
              max: max_date },
    yaxis:  { min: <%= @baseline_min %>,
              max: <%= @baseline_max %> },
    selection: { mode: "xy" },
    grid: { hoverable: true },
    legend: { position: "nw" }
  };

  <% @graphs.values.each_with_index do |graph, index| %>
    var baseline_data<%= index %> = [ <%= graph.data(true) %>,
      { label: "Baseline", data: [[<%= @min_date - 434000000 %>, 1.0],
        [<%= @max_date + 434000000 %>, 1.0]] } ];

    var graph_baseline<%= index %> = $("#<%= graph.id %>_baseline");

    $.plot(graph_baseline<%= index %>, baseline_data<%= index %>, baseline_options);

    graph_baseline<%= index %>.bind("plotselected", function (event, ranges) {
      $.plot(graph_baseline<%= index %>, baseline_data<%= index %>,
             $.extend(true, {}, baseline_options, {
               xaxis: { min: ranges.xaxis.from, max: ranges.xaxis.to },
               yaxis: { ticks: 4, min: ranges.yaxis.from, max: ranges.yaxis.to }
             }));
    });

    graph_baseline<%= index %>.bind("plothover", function (event, pos, item) {
      if (item) {
        if (previousPoint != item.datapoint) {
          previousPoint = item.datapoint;

          $("#datapoint").remove();
          var x = item.datapoint[0].toFixed(2),
              y = item.datapoint[1].toFixed(2);

          percent = parseFloat(y).toFixed(2) * 100;
          showTooltip(item.pageX, item.pageY,
                      item.series.label + ": " + percent + "%");
        }
      }
      else {
        $("#datapoint").remove();
        previousPoint = null;
      }
    });
  <% end %>
});
</script>
  </div>

  <div id="footer">
    <ul>
  <li>Copyright &copy; 2007-2009 <a href="http://blog.fallingsnow.net/">Evan Phoenix</a>.</li>
  <li>Distributed under the <a href="http://en.wikipedia.org/wiki/BSD_license#Terms">BSD license</a>.</li>
  <li class="align-right"><a href="http://www.engineyard.com"><img src="http://rubini.us/assets/4/engineyardproject_logo.png"  alt='Engine Yard Project' /></a></li>
</ul>
  </div>

</div>
</body>
</html>
