<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang='en-us' xmlns='http://www.w3.org/1999/xhtml'>
<head>
<title>Rubinius - Benchmarks</title>
<link href="http://rubini.us/screen.css" media="screen" rel="stylesheet" type="text/css" />
<!--[if IE]><script language="javascript" type="text/javascript" src="../excanvas.pack.js"></script><![endif]-->
<script language="javascript" type="text/javascript" src="javascript/jquery.js"></script>
<script language="javascript" type="text/javascript" src="javascript/jquery.flot.js"></script>
</head>

<body>
<div id="container">

  <div id="header">
    <div id="nav">
      <div id="nav-items">
        <a href="index.html">Home</a><span class="separator">
        | </span><a href="roadmap.html">Roadmap</a><span class="separator">
        | </span><strong>Benchmarks</strong><span class="separator">
        | </span><a href="community.html">Community</a><span class="separator">
        | </span><a href="contribute.html">Contribute</a><span class="separator">
        | </span><a href="documentation.html">Documentation</a><span class="separator">
        | </span><a href="download.html">Download</a><span class="separator">
      </div>
    </div>
    <div id="branding">
      <div id="site-title">Rubinius</div>

<div id="site-subtitle">Ruby, the Way It Was Meant To Be</div>

<div id="site-download"><a href="http://github.com/evanphx/rubinius/tree/master"><img src="http://74.217.48.135/assets/2/down_24.png" alt="download git" /> Download with git</a></div>
    </div>
  </div>

  <div id="content">
    <h1>Benchmark Graphs</h1>

    <p>The graphs below show results over time for several real-world benchmarks.
    The first set show the recorded times for the benchmarks. The second set show
    the times relative to <%= @baseline_id %>.</p>

    <p>All graphs are using the <em><%= @field %></em> value of multiple runs.</p>

    <h2>Recorded times</h2>
    <div>
    <% @graphs.values.each_with_index do |graph, index| %>
      <div id="<%= graph.id %>" style="width:<%= @width %>px;height:<%= @height %>px;"></div>
      <p style="text-align:center;font-weight:bold;width:<%= @width %>px;">
        Graph <%= index + 1 %>: <%= graph.title %></p>
    <% end %>
    </div>

    <h2>Relative to MRI baseline</h2>
    <div>
    <% @graphs.values.each_with_index do |graph, index| %>
      <div id="<%= graph.id %>_baseline" style="width:<%= @width %>px;height:<%= @height %>px;"></div>
      <p style="text-align:center;font-weight:bold;width:<%= @width %>px;">
        Graph <%= index + 1 %>: <%= graph.title %></p>
    <% end %>
    </div>

<script id="source" language="javascript" type="text/javascript">
$(function () {
  <% @graphs.each_value do |graph| %>
    $.plot($("#<%= graph.id %>"), [ <%= graph.data %> ],
        {
          lines:  { show: true },
          points: { show: true },
          xaxis:  { mode: "time",
                    minTickSize: [1, "day"],
                    min: <%= @min_date - 43200000 %>,
                    max: <%= @max_date + 43200000 %> }
        }
    );
  <% end %>

  var options = {
    lines:  { show: true },
    points: { show: true },
    xaxis:  { mode: "time",
              minTickSize: [1, "day"],
              min: <%= @min_date - 43200000 %>,
              max: <%= @max_date + 43200000 %> },
    yaxis:  { ticks: [0, [0.5, "0.5"], [1, "Baseline"], [2, "2"], [4, "4"], [6, "6"]],
              min: <%= @baseline_min %>,
              max: <%= @baseline_max %> },
    selection: { mode: "xy" }
  }

  <% @graphs.values.each_with_index do |graph, index| %>
      var data<%= index %> = [ <%= graph.data(true) %>, 
        { label: "Baseline", data: [[<%= @min_date - 434000000 %>, 1.0],
          [<%= @max_date + 434000000 %>, 1.0]] } ];

    $.plot($("#<%= graph.id %>_baseline"), data<%= index %>, options);

    $("#<%= graph.id %>_baseline").bind("plotselected", function (event, ranges) {
      $.plot($("#<%= graph.id %>_baseline"), data<%= index %>,
             $.extend(true, {}, options, {
               xaxis: { min: ranges.xaxis.from, max: ranges.xaxis.to },
               yaxis: { min: ranges.yaxis.from, max: ranges.yaxis.to }
             }));
    });
  <% end %>
});
</script>
  </div>

  <div id="footer">
    <ul>
  <li>Copyright © 2007-2008 <a href="http://blog.fallingsnow.net/">Evan Phoenix</a>.</li>
  <li>Distributed under the <a href="http://en.wikipedia.org/wiki/BSD_license#Terms">BSD license</a>.</li>
  <li class="align-right"><a href="http://www.engineyard.com"><img src="http://rubini.us/assets/4/engineyardproject_logo.png"  alt='Engine Yard Project' /></a></li>
</ul>
  </div>

</div>
</body>
</html>
