<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Rubinius Virtual Machine OpCodes</title>
    <link rel="stylesheet" href="op_codes.css" type="text/css" />
  </head>
  <body>
	  <ul id="chapters">
      <li><a href="intro.html" target="op_code">Intro</a></li>
      <li><a href="shotgun.html" target="op_code">Shotgun</a></li>
      <li><a href="rbc_files.html" target="op_code">Rubinius Compiled Files</a></li>
    </ul>
    <h3>OpCodes</h3>
    <ul id="op_codes">
      <% op_codes.each do |op| %>
      <li><%= "<i>" if op.description.empty? %>
      <a href="op_codes/<%= op.mnemonic %>.html" title="<%= op.operation %>" target="op_code"><%= op.mnemonic %><%= " (#{op.alias})" if op.alias %></a>
      <%= "</i>" if op.description.empty? %></li>
      <% end %>
    </ul>
  </body>
<html>